@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Cinzel:wght@700&display=swap");

:root {
  font-family: "Inter", system-ui, Avenir, Helvetica, Arial, sans-serif;
  color: #f1f1f1;
  background-color: #040404;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  display: flex;
  flex-direction: column; /* important */
  font-family: "Inter", sans-serif;
  width: 100%;
  overflow: hidden; /* ✅ prevent scrolling */
}


#root{
  width: 100%;
}

.hide-scrollbar::-webkit-scrollbar{
  display: none;
}
.hide-scrollbar{
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.sidebar_hover:hover{
  background: #040404;
  background: linear-gradient(
    90deg, 
    rgba(4, 4, 4, 1) 0%,      /* full black at start */
    rgba(4, 4, 4, 0.99) 60%,   /* semi-transparent black */
    rgba(4, 4, 4, 0.9) 80%,   /* lighter transparency */
    rgba(4, 4, 4, 0.8) 90%,
    rgba(4, 4, 4, 0) 100%     /* fully transparent at the end */
  );
  
}